<!doctype html>
<html>
<head>
    <title>Hault | Secure Browser History</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <style>
    </style>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand col-md-8" href="/">
        <img src="/assets/haultlogoweb.png" width="150" class="d-inline-block align-top" alt="">
      </a>
      <a class="d-inline-block align-top col-md-2">
        <button onClick="restoreSession()" type="button" class="btn btn-success btn-lg">
          Restore Active Sessions
        </button>
      </a>
      <a href="/logout" class="d-inline-block align-top col-md-2 pull-right">
        <button type="button" class="btn btn-primary btn-lg">
          Logout
        </button>
      </a>
    </nav>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function restoreSession() {
        console.log('hey from onclick function');
        axios.get('/pageviews/active')
          .then((res) => {
            res.data.forEach((page) => {
              window.open(page.url, '_blank');
            });
          })
          .catch((err) => {
            console.error(err);
          });
      };
    </script>
</head>
<body>
<div class="container">
