  <div class="footer">
    <a href="#about">About</a>
    <a class="hault" href="/getextension">Get Hault</a>
    <a href="#security">Security</a>
    <a href="#organization">Organization</a>
    <a href="#sessions">Sessions</a>
    <a href="#security">Team</a>
  </div>

</div>
</body>
</html>
