<% include head.ejs%>

  <div class="card text-center">
  <div class="card-block">
    <img src="/assets/getarrow_left.png" height="200" alt="chrome" className="pull-left"/>
    <img src="/assets/extension_blank.png" height="400" alt="chrome" className="pull-center"/>
    <img src="/assets/getarrow_right.png" height="200" alt="chrome" className="pull-right"/>
    <h4 class="card-title">Get the extension!</h4>
    <p class="card-text">Click "Add extension" — it's super quick!</p>
    <p class="card-text">Next, you'll create your account or login if you already have one.</p>
  </div>
  <div class="card-footer">
    <br />After installing, <a href="/signup">click here</a> to continue
  </div>
</div>

<% include foot.ejs%>
