<% include head.ejs%>

  <div class="col-sm-offset-4 col-sm-4">
  <p class="leavethis-sm lead"></p>
  <p class="leavethis-sm lead"></p>
    <a href="https://chrome.google.com/webstore/detail/hault/ikbphpflkcegcdjahlhhlanpbeojooeg" target="_blank" rel="noopener noreferrer">
      <img src="/assets/ext.png" alt="chrome" class="logo-ext img-responsive center-block">

      </img>
    </a>
  </div>
  <div class="getext col-sm-offset-4 col-sm-4">

    <img src="/assets/getarrow_left.png" height="200" alt="chrome" class="arrow pull-left"/>

    <img src="/assets/getarrow_right.png" height="200" alt="chrome" class="arrow pull-right"/>

    <div class="card text-center">
      <h4 class="card-title">Get the extension!</h4>
      <p class="card-text">Download Hault from the Chrome Web Store and click 'Continue' below to get started!</p>
    </div>
    <div class="card-footer text-center">
    <p class="leavethis-sm lead"></p>
      <a role="button" class="btn-hault btn-primary btn-lg" href="/signup">Continue</a>
    </div>
  </div>

<% include subFoot.ejs%>
