<% include head.ejs%>

  <div class="signup col-sm-offset-4 col-sm-4">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <img src="/assets/logo.png" height="300" alt="chrome" class="logo-ext img-responsive center-block"/>
    </a><br>

    <img src="/assets/getarrow_left.png" height="200" alt="chrome" class="arrow pull-left"/>

    <img src="/assets/getarrow_right.png" height="200" alt="chrome" class="arrow pull-right"/>

    <div class="card text-center">
      <h4 class="card-title">Get the extension!</h4>
      <p class="card-text">Download Hault from the Chrome Web Store and click 'Sign Up' Below to get started!</p>
    </div>
    <div class="card-footer text-center">
      <br />After installing, <a href="/signup">click here</a> to continue
    </div>
  </div>

<% include subFoot.ejs%>
