<!doctype html>
<html>
<head>
    <title>Hault | Secure Browser History</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/assets/styles.css">
    <style>
        body        { padding-left:280px; padding-right:280px; }
    </style>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">
        <img src="/assets/haultlogoweb.png" width="150" class="d-inline-block align-top" alt="">
      </a>
      <a href="/login" class="d-inline-block align-top pull-right">
        <button type="button" class="btn btn-primary btn-lg">
          Login
        </button>
      </a>
      <a href="/signup" class="d-inline-block align-top pull-right">
        <button type="button" class="btn btn-warning btn-lg">
          Sign Up
        </button>
      </a>
    </nav>
</head>
<body>
<div class="container">
