<% include head.ejs%>


<div class="jumbotron text-center">
  <h1 class="display-3">Simplify your internet</h1>
  <p class="lead">Hault safely stores your history so you don't have to</p>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/getextension" role="button">Get Hault Free</a>
  </p>
  <img src="assets/laptop.png" width="450" alt=""/>
</div>


<% include foot.ejs%>
