<% include head.ejs%>



<!-- Splash image and photo content -->
<div id="home" class="jumbotron text-center">
  <h1>Your New History</h1>
  <p class="subtitle lead">Secure Browsing. Enhanced History. Persistent Sessions.</p>
  <p class="leavethis lead"></p>
  <a class="btn-hault btn btn-primary btn-lg" href="/getextension" role="button">Get Hault</a>
</div>



<!-- (Content) About Section -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>What is Hault?</h2>
      <p class="lead">Hault bring a new meaning to the term "secure browsing". The Hault extension turns Google Chrome into a personalized and completely anonymous browsing experience. Keep your history stored in personalized vault accessible on any browser, any computer, anywhere. Hault allows you to keep your history organized, filtered, and accessible. Remeber those 27 tabs you had open at work? Bring all 27 anywhere you go with Hault.</p>
      </div>
    </div>
  </div>
</div>



<!-- Second Image Secure Browsing -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <i class="glyphicon glyphicon-lock"> </i>
            <h2 class="panel-title">History Free Browsing</h2>
          </div>
          <div class="panel-body-browse panel-body lead">
          Hault keeps track of all your currently open tabs. Quitting out of chrome, closing chrome, or logging out ends the current session.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <i class="glyphicon glyphicon-list"> </i>
            <h2 class="panel-title">Remotely Located History</h2>
          </div>
          <div class="panel-body-browse panel-body lead">
          Restore your session right away from the Hault extension. If chrome is unaccessible,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- (Content) Secure Browsing -->
<div id="security" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>A Secure Browsing Experience</h2>
        <p class="lead">The foundational idea behind Hault was to create a history-free browsing experience. Hault Extension software intercepts all browser histortry and sends it to our databases for your management. Browser history is <span class="italic">never</span> stored locally. With Hault, enjoy care free browsing.</p>
      </div>
    </div>
  </div>
</div>


<!-- Organization photo -->
<div id="organization-photo" class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-tag"> </i>
            <h2 class="panel-title">Tags</h2>
          </div>
          <div class="panel-body panel-body-hist lead">
          Identify and organize your history with tags for easy access later.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-remove"> </i>
            <h2 class="panel-title">Blacklist</h2>
          </div>
          <div class="panel-body panel-body-hist lead">
          Prevent desired domains from ever showing up in your history.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-search"> </i>
            <h2 class="panel-title">Search</h2>
          </div>
          <div class="panel-body panel-body-hist lead">
          Easy, reliable, searchable.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- (Content) History Management -->
<div id="organization" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>Enhanced History Management</h2>
      <p class="lead">Hault uses a specialized algorithm to gather information and key words from the websites you visit, significantly improving the searchability of your history. Manage your history directly from your history vault.</p>
      </div>
    </div>
  </div>
</div>



<!-- Last Photo Persistent Browsing Section -->
<div id="computers" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <i class="glyphicon glyphicon-camera"> </i>
            <h2 class="panel-title">Session Snapshots</h2>
          </div>
          <div class="panel-body-sesh panel-body lead">
          Hault keeps track of all your currently open tabs. Quitting out of chrome, closing your browser, or logging out will end the session and snapshot your open tabs so they can be restored later.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <i class="glyphicon glyphicon-refresh"> </i>
            <h2 class="panel-title">Restore Anywhere</h2>
          </div>
          <div class="panel-body-sesh panel-body lead">
          Restore your session right away from the Hault extension. If chrome or Hault extension is unaccessible, you can restore your session from your vault.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- (Content) Persistent Sessions -->
<div id="sessions" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>Persistent Browsing Sessions</h2>
        <p class="lead">Bring your browsing sessions with you wherever you go. Your previous session will be restored upon login via the Hault Extension. No Extension? No Chrome? No problem. Restore your session right from your vault on any browser.(jk idk if this works on every browser. Looking @ u IE)</p>
      </div>
    </div>
  </div>
</div>

<% include foot.ejs%>
