<% include head.ejs%>

<!-- First Section -->
<div id="home" class="jumbotron text-center">
  <h1>Your New History</h1>
  <p class="lead">Secure Browsing. Enhanced History. Persistent Sessions.</p>
  <p class="test lead">
  </p>
  <a class="btn-hault btn btn-primary btn-lg" href="/getextension" role="button">Get Hault</a>
</div>



<!-- Second Section -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>What is Hault?</h2>
      <p class="lead">Hault bring a new meaning to the term "secure browsing". The Hault extension turns Google Chrome into a personalized and completely anonymous browsing experience. Keep your history stored in personalized vault accessible on any browser, any computer, anywhere. Hault allows you to keep your history organized, filtered, and accessible. Remeber those 27 tabs you had open at work? Bring all 27 anywhere you go with Hault.</p>
      </div>
    </div>
  </div>
</div>



<!-- Third Section -->
<!-- <div id="services" class="pad-section">
  <div class="container">
  <h2 class="text-center">Our Services</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
      <i class="glyphicon glyphicon-cloud"> </i>
      <h4>Service 1</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
      <i class="glyphicon glyphicon-leaf"> </i>
      <h4>Service 2</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
      <i class="glyphicon glyphicon-phone-alt"> </i>
      <h4>Service 3</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
      <i class="glyphicon glyphicon-bullhorn"> </i>
      <h4>Service 4</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
    </div>
  </div>
</div> -->



<!-- Fourth Section -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
          </div>
          </div>
          <div class="col-sm-6">
          <div class="panel panel-default">
          <div class="panel-heading">
          <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Fifth Section -->
<div id="security" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>A Secure Browsing Experience</h2>
      <p class="lead">The foundational idea behind Hault was to create a history-free browsing experience. The software behind the Hault Extension intercepts all browser histortry and sends it to our secure databases for your management. Browser history is <span class="italic">never</span> stored locally. With Hault, enjoy the luxury of care free browsing.</p>
      </div>
    </div>
  </div>
</div>


<!-- Sixth Section -->
<div id="home" class="jumbotron text-center">
  <h1 class="display-3">A New History</h1>
  <p class="lead">Secure Browsing. Enhanced History. Persistent Sessions.</p>
  <p class="test lead">
  </p>
</div>

<!-- Padding Section -->
<div id="organization" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>Enhanced History Management</h2>
      <p class="lead">Hault uses a specialized algorithm to gather information and key words from the websites you visit, significantly improving the searchability of your history. Manage your history directly from your history vault.
      <p>Identify and organize your history with tags for easy access later.</p>
      <p>Prevent desired domains from <span class="italic">ever</span> showing up in your history.</p>
      <p>Easy, reliable, searchable.</p>

      </div>
    </div>
  </div>
</div>


<!-- Seventh Section -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
          </div>
          </div>
          <div class="col-sm-6">
          <div class="panel panel-default">
          <div class="panel-heading">
          <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Eighth Section -->
<div id="sessions" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h2>Persistent Browsing Sessions</h2>
      <p class="lead">Bring your browsing sessions with you wherever you go. Your previous session will be restored upon login via the Hault Extension. No Extension? No Chrome? No problem. Restore your session right from your vault on any browser.(jk idk if this works on every browser. Looking @ u IE)</p>
      </div>
    </div>
  </div>
</div>

<% include foot.ejs%>
