<% include head.ejs%>

  <div class="card text-center">
  <div class="card-header">
    <img src="/assets/logo.png" width="100"><h1>Hault</h1>
  </div>
  <div class="card-block">
    <h4 class="card-title">Hault is coming</h4>
    <p class="card-text">Secure Browsing History. Remote Session Browsing. Free puppies*.</p>
    <img src="/assets/chrome.png" alt="chrome"/><a href="/getextension" class="btn btn-primary">Get the Chrome plugin</a>
  </div>
  <div class="card-footer text-muted">
    <br />No puppies actually offered, puppy mills are evil.
    <br />Beta Testers:
    <a href="/login">Login here</a>
  </div>
</div>

<% include foot.ejs%>
