<div class="subfoot navbar-fixed-bottom footer">
  <a href="/">Home</a>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
  <a class="hault" href="/getextension">Get Hault</a>
  <a href="/">Team</a>
</div>
